<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NJS</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
       <div class="content">
       	    <div class="title">
       	    	<h3>CHATTING FORM</h3>
       	    </div>
        	<div class="container">
        		<div class="register">
        			<h4>Fill out your name here to join</h4>
        			<input type="text" id="txtusername">
        			<input type="submit" id="btnJoin" value="Join">
        		</div>
        		<div class="chatForm">
        			<div class="left">
        				<div class="userbox">Online</div>
        				<div class="boxcontent">
        					
        				</div>
        			</div>
        			<div class="right">
        				<div class="nameTitle">
        					Hello: <span id="currentUser">ASDSFAS</span>
        				</div>
        			</div>
        			<div id="listMsg">1111dfgdfgdfgdfgdf1</div>
        			<div class="msg">
        				<input type="text" id="msg">
        				<input type="submit" id="btnSend" value="Send">
        			</div>
        		</div>
        	</div>
	        </section>
       </div>
    <script src="https://huutestsocketio.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="main.jquery.js"></script>   
	<script>
		var socket = io('https://huutestsocketio.herokuapp.com');

		socket.on('server-send-join.fail', function(){
			alert('Username is existed. Choose and other name');
		});
		socket.on('server-send-join-success', function(data){
			$('#currentUser').html(data);
			$('.register').hide(2000);
	        $('.chatForm').show(3000);
		});
		socket.on('server-send-user-list', function(data){
			$('.boxcontent').html("");
            data.forEach(function(i){
                $(".boxcontent").append("<div class='onlineUser'>" + i + "</div>");
            });
		});
		socket.on('server-send-msg',function(data){
            $('#listMsg').append("<div class='msg'>" + data.usr + ":" + data.content + "</div>");
           
		});
	</script>
</body>
</html>